.Login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .heading {
        text-align: center;
    }

    .login-box {
        padding: 40px;
        min-width: 400px;
        border: 1px solid black;
        border-radius: 4px;
    }

    label , input {
        display: block;
        width: 100%;
        margin-block: 8px;
    }
    
    lable{
        font-weight: bold;
    }

    input {
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid black;
    }

    .submit {
        background-color: #29bfff;
        color: white;
        border: none;
        margin-top: 16px;
        font-weight: bold;
    }

    .submit:hover{
        background-color: #249dde;
    }
}